@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  background: #fadde1;
  font-family: "Dancing Script", cursive;
  overflow-x: hidden;
}

.container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  min-width: 100%;
  text-align: center;
  color: #ff87ab;
  text-shadow: 1.5px 1.5px #2C3A49;
  font-size: 3em;
}

.text .char {
  animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
}
.presents {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}

.purple {
  position: relative;
  left: -20px;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.purple:hover {
  animation: 0.5s purple;
}
.purple .lid {
  background: #ffa6c1;
}
.purple .box {
  background-image: radial-gradient(#ffc4d6 20%, transparent 20%), radial-gradient(#ffc4d6 20%, transparent 20%);
  background-color: #ffa6c1;
}
.purple .ribbon {
  background: #ffc4d6;
}
.purple .ribbon::before {
  top: 21%;
}
.purple .bow {
  background: #ffc4d6;
}
.purple .bow::before, .purple .bow::after {
  background: #ffc4d6;
}
@keyframes purple {
  0% {
    width: 100px;
    height: 100px;
  }
  30% {
    width: calc(100px + 10px);
    height: calc(100px - 10px);
  }
  60% {
    width: calc(100px - 10px);
    height: calc(100px + 10px);
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.pink {
  position: relative;
  left: 20px;
  width: 130px;
  height: 120px;
  z-index: 10;
}
.pink:hover {
  animation: 0.5s pink;
}
.pink .lid {
  background: #ffa6c1;
}
.pink .box {
  background-image: radial-gradient(#ffc4d6 20%, transparent 20%), radial-gradient(#ffc4d6 20%, transparent 20%);
  background-color: #ffa6c1;
}
.pink .ribbon {
  background: #ffc4d6;
}
.pink .ribbon::before {
  top: 21%;
}
.pink .bow {
  background: #ffc4d6;
}
.pink .bow::before, .pink .bow::after {
  background: #ffc4d6;
}
@keyframes pink {
  0% {
    width: 130px;
    height: 120px;
  }
  30% {
    width: calc(130px + 10px);
    height: calc(120px - 10px);
  }
  60% {
    width: calc(130px - 10px);
    height: calc(120px + 10px);
  }
  100% {
    width: 130px;
    height: 120px;
  }
}

.yellow {
  position: relative;
  left: 0;
  width: 120px;
  height: 160px;
  z-index: 0;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.yellow:hover {
  animation: 0.5s yellow;
}
.yellow .lid {
  background: #ffa6c1;
}
.yellow .box {
  background-image: radial-gradient(transparent 20%, transparent 20%), radial-gradient(transparent 20%, transparent 20%);
  background-color: #ffa6c1;
}
.yellow .ribbon {
  background: #f4acb7;
}
.yellow .ribbon::before {
  top: 21%;
}
.yellow .bow {
  background: #f4acb7;
}
.yellow .bow::before, .yellow .bow::after {
  background: #f4acb7;
}
@keyframes yellow {
  0% {
    width: 120px;
    height: 160px;
  }
  30% {
    width: calc(120px + 10px);
    height: calc(160px - 10px);
  }
  60% {
    width: calc(120px - 10px);
    height: calc(160px + 10px);
  }
  100% {
    width: 120px;
    height: 160px;
  }
}

.present {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.present .lid {
  height: 20%;
  width: calc(100% + 10px);
  border: 4px solid #2C3A49;
  border-radius: 5px;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5), 5px 0 rgba(0, 0, 0, 0.15);
}
.present .box {
  width: 100%;
  height: 100%;
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  border: 4px solid #2C3A49;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset -10px 5px rgba(0, 0, 0, 0.3), 5px 0 rgba(0, 0, 0, 0.15);
}
.present .ribbon {
  position: absolute;
  top: -3px;
  width: 30px;
  height: calc(100% - 5px);
  border: 4px solid #2C3A49;
  border-radius: 5px;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5);
}
.present .ribbon::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
}
.present .bow {
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  border: 4px solid #2C3A49;
  border-radius: 50%;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5), inset -2px -5px rgba(0, 0, 0, 0.3);
}
.present .bow::before, .present .bow::after {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  width: 30px;
  height: 30px;
  border: 4px solid #2C3A49;
  border-radius: 50%;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5), inset -2px -5px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.present .bow::before {
  left: 15px;
}
.present .bow::after {
  right: 15px;
}

/* css tombol klik */
.message {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.4s ease;
  }
  .message.clicked {
    background-color: #ff6b6b;
    border-radius: 0;
    z-index: 11;
    position: relative;
    width: 100%;
    height: 100vh;
    transition: all 1s ease;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .message.clicked:hover {
    transform: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .message.clicked .message__btn {
    display: none;
  }
  .message.clicked .message__text {
    opacity: 1;
    visibility: visible;
    animation: text 0.6s 1s ease both;
  }
  @keyframes text {
    0% {
      opacity: 0;
      transform: translatey(80px);
    }
    100% {
      opacity: 1;
      transform: translatey(0px);
    }
  }

  .message__text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    z-index: 1;
  }
  .message__letters {
    font-size: 80px;
    padding: 10px;
    margin: 0 -5px;
    text-transform: uppercase;
    position: relative;
    -webkit-text-stroke: 2px #cc444b;
    animation: letters 1s ease infinite alternate both;
  }
  .message__letters:nth-child(1) {
    animation-delay: 0.6s;
  }
  .message__letters:nth-child(2) {
    animation-delay: 0.8s;
  }
  .message__letters:nth-child(3) {
    animation-delay: 1s;
  }
  .message__letters:nth-child(4) {
    animation-delay: 1.2s;
  }
  .message__letters:nth-child(5) {
    animation-delay: 1.4s;
  }
  .message__letters:nth-child(6) {
    animation-delay: 1.6s;
  }
  .message__letters:nth-child(7) {
    animation-delay: 1.8s;
  }
  .message__letters:nth-child(8) {
    animation-delay: 2s;
  }
  .message__letters:nth-child(9) {
    animation-delay: 2.2s;
  }
  .message__letters:nth-child(10) {
    animation-delay: 2.4s;
  }
  .message__letters:nth-child(11) {
    animation-delay: 2.6s;
  }
  .message__letters:nth-child(12) {
    animation-delay: 2.8s;
  }
  .message__letters:nth-child(13) {
    animation-delay: 3s;
  }
  .message__letters:nth-child(14) {
    animation-delay: 3.2s;
  }
  .message__letters:nth-child(15) {
    animation-delay: 3.4s;
  }
  .message__letters:nth-child(16) {
    animation-delay: 3.6s;
  }
  .message__letters:nth-child(17) {
    animation-delay: 3.8s;
  }
  .message__letters:nth-child(18) {
    animation-delay: 4s;
  }
  .message__letters:nth-child(19) {
    animation-delay: 4.2s;
  }
  .message__letters:nth-child(20) {
    animation-delay: 4.4s;
  }
  .message__letters:nth-child(21) {
    animation-delay: 4.6s;
  }
  .message__letters:nth-child(22) {
    animation-delay: 4.8s;
  }
  .message__letters:nth-child(23) {
    animation-delay: 5s;
  }
  .message__letters:nth-child(24) {
    animation-delay: 5.2s;
  }
  .message__letters:nth-child(25) {
    animation-delay: 5.4s;
  }
  .message__letters:nth-child(26) {
    animation-delay: 5.6s;
  }
  .message__letters:nth-child(27) {
    animation-delay: 5.8s;
  }
  .message__letters:nth-child(28) {
    animation-delay: 6s;
  }
  .message__letters:nth-child(29) {
    animation-delay: 6.2s;
  }
  .message__letters:nth-child(30) {
    animation-delay: 6.4s;
  }
  .message__letters:nth-child(31) {
    animation-delay: 6.6s;
  }
  .message__letters:nth-child(32) {
    animation-delay: 6.8s;
  }
  .message__letters:nth-child(33) {
    animation-delay: 7s;
  }
  .message__letters:nth-child(34) {
    animation-delay: 7.2s;
  }
  .message__letters:nth-child(35) {
    animation-delay: 7.4s;
  }
  .message__letters:nth-child(36) {
    animation-delay: 7.6s;
  }
  .message__letters:nth-child(37) {
    animation-delay: 7.8s;
  }
  .message__letters:nth-child(38) {
    animation-delay: 8s;
  }
  .message__letters:nth-child(39) {
    animation-delay: 8.2s;
  }
  .message__letters:nth-child(40) {
    animation-delay: 8.4s;
  }
  .message__letters:nth-child(41) {
    animation-delay: 8.6s;
  }
  .message__letters:nth-child(42) {
    animation-delay: 8.8s;
  }
  .message__letters:nth-child(43) {
    animation-delay: 9s;
  }
  .message__letters:nth-child(44) {
    animation-delay: 9.2s;
  }
  .message__letters:nth-child(45) {
    animation-delay: 9.4s;
  }
  .message__letters:nth-child(46) {
    animation-delay: 9.6s;
  }
  .message__letters:nth-child(47) {
    animation-delay: 9.8s;
  }
  .message__letters:nth-child(48) {
    animation-delay: 10s;
  }
  .message__letters:nth-child(49) {
    animation-delay: 10.2s;
  }
  .message__letters:nth-child(50) {
    animation-delay: 10.4s;
  }
  .message__letters:nth-child(51) {
    animation-delay: 10.6s;
  }
  .message__letters:nth-child(52) {
    animation-delay: 10.8s;
  }
  .message__letters:nth-child(53) {
    animation-delay: 11s;
  }
  .message__letters:nth-child(54) {
    animation-delay: 11.2s;
  }
  .message__letters:nth-child(55) {
    animation-delay: 11.4s;
  }
  .message__letters:nth-child(56) {
    animation-delay: 11.6s;
  }
  .message__letters:nth-child(57) {
    animation-delay: 11.8s;
  }
  .message__letters:nth-child(58) {
    animation-delay: 12s;
  }
  .message__letters:nth-child(59) {
    animation-delay: 12.2s;
  }
  .message__letters:nth-child(60) {
    animation-delay: 12.4s;
  }
  .message__letters:nth-child(61) {
    animation-delay: 12.6s;
  }
  .message__letters:nth-child(62) {
    animation-delay: 12.8s;
  }
  .message__letters:nth-child(63) {
    animation-delay: 13s;
  }
  .message__letters:nth-child(64) {
    animation-delay: 13.2s;
  }
  .message__letters:nth-child(65) {
    animation-delay: 13.4s;
  }
  .message__letters:nth-child(66) {
    animation-delay: 13.6s;
  }
  .message__letters:nth-child(67) {
    animation-delay: 13.8s;
  }
  .message__letters:nth-child(68) {
    animation-delay: 14s;
  }
  .message__letters:nth-child(69) {
    animation-delay: 14.2s;
  }
  .message__letters:nth-child(70) {
    animation-delay: 14.4s;
  }
  .message__letters:nth-child(71) {
    animation-delay: 14.6s;
  }
  .message__letters:nth-child(72) {
    animation-delay: 14.8s;
  }
  .message__letters:nth-child(73) {
    animation-delay: 15s;
  }
  .message__letters:nth-child(74) {
    animation-delay: 15.2s;
  }
  .message__letters:nth-child(75) {
    animation-delay: 15.4s;
  }
  .message__letters:nth-child(76) {
    animation-delay: 15.6s;
  }
  .message__letters:nth-child(77) {
    animation-delay: 15.8s;
  }
  .message__letters:nth-child(78) {
    animation-delay: 16s;
  }
  .message__letters:nth-child(79) {
    animation-delay: 16.2s;
  }
  .message__letters:nth-child(80) {
    animation-delay: 16.4s;
  }
  .message__letters:nth-child(81) {
    animation-delay: 16.6s;
  }
  .message__letters:nth-child(82) {
    animation-delay: 16.8s;
  }
  .message__letters:nth-child(83) {
    animation-delay: 17s;
  }
  .message__letters:nth-child(84) {
    animation-delay: 17.2s;
  }
  .message__letters:nth-child(85) {
    animation-delay: 17.4s;
  }
  .message__letters:nth-child(86) {
    animation-delay: 17.6s;
  }
  .message__letters:nth-child(87) {
    animation-delay: 17.8s;
  }
  .message__letters:nth-child(88) {
    animation-delay: 18s;
  }
  .message__letters:nth-child(89) {
    animation-delay: 18.2s;
  }
  .message__letters:nth-child(90) {
    animation-delay: 18.4s;
  }
  .message__letters:nth-child(91) {
    animation-delay: 18.6s;
  }
  .message__letters:nth-child(92) {
    animation-delay: 18.8s;
  }
  .message__letters:nth-child(93) {
    animation-delay: 19s;
  }
  .message__letters:nth-child(94) {
    animation-delay: 19.2s;
  }
  .message__letters:nth-child(95) {
    animation-delay: 19.4s;
  }
  .message__letters:nth-child(96) {
    animation-delay: 19.6s;
  }
  .message__letters:nth-child(97) {
    animation-delay: 19.8s;
  }
  .message__letters:nth-child(98) {
    animation-delay: 20s;
  }
  .message__letters:nth-child(99) {
    animation-delay: 20.2s;
  }
  .message__letters:nth-child(100) {
    animation-delay: 20.4s;
  }
  @media screen and (max-width: 900px) {
    .message__letters {
      font-size: 40px;
      padding: 5px;
    }
  }
  @keyframes letters {
    0% {
      transform: translatey(20px);
    }
    100% {
      transform: translatey(-20px);
    }
  }
  .message__letters:hover {
    animation-play-state: paused;
  }
  .message__letters:hover .message__letterMain {
    transform: translatey(-20px);
    transition: all 0.4s ease, transform 0.4s ease;
  }
  .message__letters:hover .message__letterShadow {
    transform: translatey(-30px);
    filter: blur(10px);
    transition: all 0.4s ease, transform 0.4s ease;
  }
  .message__letterMain {
    position: relative;
    user-select: none;
    z-index: 1;
    transition: all 0.4s ease, transform 2s 0.4s ease;
  }
  .message__letterShadow {
    position: absolute;
    left: 10px;
    top: 20px;
    color: #e63946;
    transition: all 0.4s ease, transform 2s 0.4s ease;
  }
  @media screen and (max-width: 900px) {
    .message__letterShadow {
      top: 10px;
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      left: 60%;
    }
    .message.clicked{
      width: 130%;
      height: 130vh;
    }
  }
  .button{
    border-radius: 40px;
    background-color: #f09f09;
    border: 2px solid #cc444b;
    box-shadow: 0px 6px 0px -2px #e63946, 0px 6px 0px 0px #cc444b;
    width: 100px;
    height: 40px;
    font-family: "Bungee", cursive;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 65%;
    cursor: pointer;
  }
  .reload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    border-radius: 40px;
    background-color: #f27059;
    width: 100px;
    height: 40px;
    font-family: "Bungee", cursive;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
    border: 2px solid #cc444b;
    box-shadow: 0px 6px 0px -2px #e63946, 0px 6px 0px 0px #cc444b;
    transition: all 0.2s ease;
    cursor: pointer;
    display: none;
  }
  .reload:focus, .reload:hover {
    transform: translatey(3px);
    box-shadow: 0px 0px 0px -2px #e63946, 0px 0px 0px 0px #cc444b;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
    z-index: -1;
  }
  
  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  #particles-js.show {
    visibility: visible;
    transform: scale(1);
  }

  /* card text */
  @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	font-family: 'Indie Flower', cursive !important;
  background: #FDE3A7; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card.active {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}
.card.active .imgBox {
	transform: rotateY(-135deg);
}

.card.active .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}
.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 250px;
	max-height: 400px;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 13px;
	line-height: 15px;
	transform: rotate(-2deg);
	padding: 0 0 0 20px;
}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}